# Ambiente virtual
venv/

# Dados - NÃO versionar os originais ou processados
data/

# Arquivos auxiliares (não necessários no GitHub)
scratch/
tmp/
*.svg

# Arquivos temporários de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.tmp

# Arquivos de log
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos de configuração locais
*.env
*.vscode/
